{% extends "basefront.html.twig" %}
{% block body %}
    <h1> Propriétés de la formation </h1>
    {{ form_start(form) }}
        {{ form_rest(form) }}
        <button class="btn btn-primary">Sauvegarder</button>
    {{ form_end(form) }}
{% endblock %}